* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

body {
  background-color: #1e212d;
}

.first {
  height: 100vh;
}

.nav-link {
  color: #faf3e0;
  font-size: 16px;
}

.nav-link:hover {
  color: white;
}

.nav-item:hover {
  background-color: #b68973;
  border-radius: 5px;
}

.carousel-fila {
  margin: auto;
}

.carousel-item img {
  height: 88vh;
  background-size: cover;
  width: 100%;
}

.carousel-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:rgb(51, 42, 42);
  opacity: 0.6;
}

.fila_principal{
  margin: auto;
}


.carousel-caption h5 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 110px;
}

.carousel-caption i {
  font-size: 18px;
}

.i {
  margin-bottom: 30px;
}

.btn-1 {
  background: #1e212d;
  color: white;
  font-size: 20px;
  box-shadow: 1px 1px white;
  margin-bottom: 50px;
}

.btn-1:hover{
  background-color: #b68973;
  color: black;
}

.title-card{
  color: #faf3e0;
  font-size: 18px ;
  font-weight: 300;
}

.card img{
  height: 140px;
}
.card{
  border:solid 3px #faf3e0;
}

.second{
  height: 95vh;
}

.titulo h2{
  font-size: 30px;
}

.c_menu{
  height: 99%;
  width: 98%;
margin: auto;
color: white;

}

.columna_menu{
 background-color: #ffffffa3;
 border-radius: 10px;
 padding-left: 20px;
 color: black;
 height: 90vh;
}

.titulo_menu , .-b{
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.a{
  margin-top: 10px;
  font-size: 26px;
  font-weight: 600;
}

.inf{
  color: red;
}

.b{
  background-color: #bdbdbd5d;
  color: black;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}

.columna_pedido{
  width: 57%;
  border-radius: 10px;
  color: white;
  height: 95vh;
}

.-b{
  color: white;
}

.img_form{
border-radius: 10px;
  width: 50px;
  height: 50px;
}

.x{
  font-size: 14px;
}

.z{
  padding-bottom: 20px;
}

.enviar{
  color: White;
  background-color: #1e212d;
padding: 6px 20px;
border-radius: 7px;
font-size: 18px;
border: solid 2px white;
margin-top: 13px;
}

.enviar:hover{
  color: black;
  background-color: #eabf9f;
}

.sub-titulo h2 {
  font-size: 40px;
  color: white;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}

.cuerpo_pedido {
  background-color: #ffffff;
  height: 74vh;
  border-radius: 10px;
  padding: 20px;
 width: 50%;
}
.info_pedido {
  background-color: #ffffff;
  height: 74vh;
  border-radius: 10px;
}

.pedido_label {
  font-size: 20px;
}

.title_cat{
  font-size: 13px;
 margin-bottom: 12px;
}

.y{
  height: 138px;
  background-color:#ffffff;
  border-radius: 10px;
  color: black;
  border: solid 1px #1e212d;
}
